<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		You have found the home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application.
	</p>
	<p>
		<% if !user_signed_in? %>
		<%= link_to "Sign Up Now", new_user_registration_path , class: "btn btn-primary btn-large"%>
		<% end %>
	</p>
</div>
